# Unit22. 리스트와 튜플

- 요소추가

In [1]:
a = [10, 20, 30]
a.append(40)
a

[10, 20, 30, 40]

In [3]:
a.insert(0, 34)
a

[34, 34, 10, 20, 30, 40]

In [4]:
a.append([100, 200])
a

[34, 34, 10, 20, 30, 40, [100, 200]]

In [6]:
b = [1, 2, 3]
b.extend([30, 40])
b

[1, 2, 3, 30, 40]

- 요소 삭제

In [9]:
del a[-1]
a

[34, 34, 10, 20]

In [11]:
a.pop() # 제일 끝에 있는 요소를 끄집어냄, 삭제

20

In [12]:
a

[34, 34, 10]

In [13]:
a.pop(0) # pop(인덱스)는 해당 인덱스의 요소를 삭제한 뒤 삭제한 요소를 반환

34

- 특정값의 인덱스 찾기

In [15]:
a.index(34)

0

In [17]:
for index, element in enumerate(a):
    print(f'index: {index}, value: {element}')

index: 0, value: 34
index: 1, value: 10

In [18]:
for i in range(len(a)):
    print(f'index: {i}, value: {a[i]}')

index: 0, value: 34
index: 1, value: 10

In [19]:
value = 20
for index, element in enumerate(a):
    if element == value:
        break
print(index)

1

- 기타

In [20]:
# 특정 값의 갯수
a = [10, 20, 30, 15, 20, 40]
a.count(20)

2

In [21]:
a[::-1]

[40, 20, 15, 30, 20, 10]

In [22]:
a.reverse()

In [23]:
a

[40, 20, 15, 30, 20, 10]

- 정렬(Sort)

In [24]:
a.sort()        # 오름차순(ascending order) 정렬

In [25]:
a

[10, 15, 20, 20, 30, 40]

In [27]:
a.sort(reverse=True)        # 내림차순(descending order) 정렬
a

[40, 30, 20, 20, 15, 10]

In [28]:
b = [10, 20, 30, 15, 20, 40]
sorted(b)

[10, 15, 20, 20, 30, 40]

In [29]:
b

[10, 20, 30, 15, 20, 40]

- 리스트 복사

In [30]:
a

[40, 30, 20, 20, 15, 10]

In [31]:
b = a

In [32]:
b[-1] = 300
a

[40, 30, 20, 20, 15, 300]

In [33]:
a is b

True

In [34]:
a

[40, 30, 20, 20, 15, 300]

In [36]:
b = a.copy()
b[-1] = 88
b

[40, 30, 20, 20, 15, 88]

In [37]:
a

[40, 30, 20, 20, 15, 300]

-assignment vs copy vs deepcopy

In [40]:
x =[[1,2,3],[4,5,6]]
y = x.copy()
y[1][2] = 100
x

[[1, 2, 3], [4, 5, 100]]

In [41]:
import copy
x = [[1,2,3],[4,5,6]]
y = copy.deepcopy(x)
y[1][2] = 100
x

[[1, 2, 3], [4, 5, 6]]

### 22-3. 반복문과 리스트

In [42]:
a = [38, 21, 53, 62, 19]
for i  in a:
    print(i)

38
21
53
62
19

- 인덱스와 요소를 동시에 액세스

In [43]:
for index, value in enumerate(a):
    print(index, value)

0 38
1 21
2 53
3 62
4 19

In [45]:
fruits = ['사과', '배', '귤', '감']
for index, fruit in enumerate(fruits):
    print(index, fruit)

0 사과
1 배
2 귤
3 감

### 22-4. 리스트의 최대값, 최소값, 합계 구하기

In [46]:
a = [38, 21, 53, 62, 19]
small = 10000
for element in a:
    if element < small:
        small = element
small

19

In [47]:
large = -1
for element in a:
    if element > large:
        large = element
large

62

In [48]:
min(a), max(a)

(19, 62)

In [49]:
sum(a)

193

### 22-5. 리스트 표현식(Comprehension)

In [51]:
# 1에서 10까지의 제곱수로 된 리스트를 만드세요
squre_list = []
for i in range(1,11):
    squre_list.append(i*i)
squre_list

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [55]:
squre_list = [i*i for i in range(1,11)]
squre_list

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [56]:
odd_sq = [i*i for i in range(1,11) if i % 2 == 1]
odd_sq

[1, 9, 25, 49, 81]

In [ ]:
m = 3, n = 14
a = [i*i for i in range(3, 14) if i % 3 == 0  ]