3.7

In [1]:
print('Hello, world')
print('Python Programming')

Hello, world
Python Programming

In [3]:
print('Hello, world!')
print('Hello, world!')

Hello, world!
Hello, world!

5.5

In [4]:
print(int(0.2467*12+4.159))

7

In [5]:
print(102*0.6+225)

286.2

6.6

In [8]:
a, b, c= map(int,input().split())
print(a + b + c)

40

In [10]:
a=50
b=100
c=None

print(a)
print(b)
print(c)

50
100
None

In [13]:
a, b, c, d = map(int, input().split())
print ((a+b+c+d) // 4)

50

7.4

In [15]:
year = 2000
month = 10
day = 27
hour = 11
minute = 43
second = 59

print(year, month, day, sep='/', end =' ')
print(hour, minute, second, sep=':')

2000/10/27 11:43:59

In [16]:
year, month, day, hour, minute, second = input().split()
print(year, month, day, sep='-', end='T')
print(hour, minute, second, sep=':')

1999-12-31T10:37:21

8.4

In [18]:
korean = 92
english = 47
mathmatics = 86
science = 81

print(korean >= 50 and english >= 50 and mathmatics >= 50 and science >= 50)

False

In [19]:
국어, 영어, 수학, 과학 = map(int, input().split())
print(국어 >= 90 and 영어 > 80 and 수학 > 85 and 과학 >=80)

True

9.3

In [20]:
s = '''Python is a programming language that lets you work quickly
and
integrate systems more effectively.'''
print(s)

Python is a programming language that lets you work quickly
and
integrate systems more effectively.

In [22]:
s= """'Python' is a "programming language"
that lets you work quickly
and
integrate systems more effectively."""
print(s)

'Python' is a "programming language"
that lets you work quickly
and
integrate systems more effectively.

In [24]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [25]:
tuple(range(10))

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

10.4

In [26]:
a = list(range(5,-10,-2))
print(a)

[5, 3, 1, -1, -3, -5, -7, -9]

In [29]:
x = int(input())
x = tuple(range(-10, 10, x))
print(x)

(-10, -7, -4, -1, 2, 5, 8)

In [33]:
list(range(5,-10,-2)) + list(range(5,-10,-2))

[5, 3, 1, -1, -3, -5, -7, -9, 5, 3, 1, -1, -3, -5, -7, -9]

11.6

In [1]:
year = [2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018]
population = [10249679, 10195318, 10143645, 10103233, 10022181, 9930616, 9857426, 9838892]
 
print(year[-3:])
print(population[-3:])

[2016, 2017, 2018]
[9930616, 9857426, 9838892]

In [3]:
n = -32, 75, 97, -10, 9, 32, 4, -15, 0, 76, 14, 2
 
print(n[1:12:2])

(75, -10, 32, -15, 76, 2)

In [5]:
x = input().split()
del x[-5:]
print(tuple(x))

('1', '2', '3', '4', '5')

In [6]:
x= input()
y= input()
x = x[1::2]
y = y[::2]
print(x+y)

yhnpto

12.4

In [10]:
camille = {
    'health': 575.6,
    'health_regen': 1.7,
    'mana': 338.8,
    'mana_regen': 1.63,
    'melee': 125,
    'attack_damage': 60,
    'attack_speed': 0.625,
    'armor': 26,
    'magic_resistance': 32.1,
    'movement_speed': 340}
 
print(camille['health'])
print(camille['movement_speed'])

575.6
340

In [13]:
x= input().split()
y= map(float,input().split())
c = dict(zip(x,y))
print(c)

{'health': 575.6, 'health_regen': 1.7, 'mana': 338.8, 'mana_regen': 1.63}

13.6

In [15]:
x = 5
 
if x != 10 :
    print('ok')

ok

In [16]:
x = int(input())
y = input()
if y == 'cash3000':
    print(x -3000)
if y == 'cash5000':
    print(x-5000)

24000

14.6

In [19]:
written_test = 75
coding_test = True
 
if written_test >= 80 and coding_test == True:
    print('합격')
else:
    print('불합격')

불합격

In [ ]:
국어, 영어, 수학, 과학 = map(int,input().split())
평균 = (국어 + 영어 + 수학 + 과학 ) / 4
if 0 <= 국어 <= 100 and 0 <= 영어 <= 100 and 0 <= 수학 <= 100 and 0 <= 과학 <=100:
    if 평균 >= 80 and 평균 <= 100:
        print('합격')
    else:
        print('불합격')
else:
    print('잘못된 점수')

15.3

In [20]:
x = int(input())

if 11 <= x <= 20:
    print('11~20')
if 21 <= x <= 30:
    print('21~30')
else:
    print('아무것도 해당하지 않음')

아무것도 해당하지 않음

In [22]:
age = int(input())
balance = 9000    # 교통카드 잔액

if  7 <= age <= 12:
    print(balance-650)
elif 13 <= age <= 18:
    print(balance-1050)
elif 19 <= age:
    print(balance-1250)

7950

16.5

In [25]:
x = [49, -17, 25, 102, 8, 62, 21]

for i in x:
    print(i*10, end=' ')

490 -170 250 1020 80 620 210

In [26]:
x = int(input())
for i in range(1,10):
    print(x, '*', i, '=', x*i)

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18