조건문

1. 연도를 입력으로 받아 윤년인지 아닌지를 출력하는 프로그램을 작성하시오.
윤년은 연도가 4의 배수이면서, 100의 배수가 아닐 때 또는 400의 배수일 때이다.
예를들어, 2012년은 4의 배수라서 윤년이지만, 1900년은 4의 배수이지만, 100의 배수이기 때문에 윤년이 아니다. 하지만, 2000년은 400의 배수이기 때문에 윤년이다.)

In [1]:
year = int(input())
if year % 400 == 0:
    print(f'{year}: 윤년')
elif year % 100 == 0:
    print(f'{year}: 윤년이 아님')
elif year % 4 == 0:
    (f'{year}: 윤년')
else:
    print(f'{year}: 윤년이 아님')

2021: 윤년이 아님

2. 본인의 생일을 1998 12 15 과 같이 년 월 일로 입력받아
오늘 날짜의 만 나이를 구하는 프로그램을 작성하시오.

In [2]:
from datetime import date
today = date.today()
today

datetime.date(2021, 11, 22)

In [3]:
year, month, day = map(int, input().split())
year, month, day

(2000, 12, 7)

In [4]:
if month > today.month:
    age = today.year - year -1
elif month < today.month:
    age = today.year = year
else:
    if day > today.day:
        age = today.year - year -1
    else:
        age = today.year - year
print(f'생년월일이 {year}-{month}-{day}인 사람의 만 나이는 {age}')

생년월일이 2000-12-7인 사람의 만 나이는 20

3. 세 자연수 a, b, c 가 피타고라스 정리 a
2 + b2 = c2 를 만족하면 피타고라스 수라고 부른다. 
(여기서 a < b < c 이고 a + b > c)
예를 들면, 32 + 42 = 9 + 16 = 25 = 52 이므로 3, 4, 5는 피타고라스 수입니다.
a + b + c = 1000 인 피타고라스 수를 구하시오. (답은 한가지 뿐이다.)

In [5]:
for a in range(1,1001):
    for b in range(a+1, 1001):
        c = 1000 - a - b
        if c*c == a*a + b*b:
            print(a,b,c)
            break

200 375 425

In [6]:
# a,b는 1000까지 갈 수 없음

flag = False
for a in range(1,333):
    for b in range(a+1, 500):
        c = 1000 - a - b
        if c*c == a*a + b*b:
            print(a,b,c)
            flag = True
            break
    if flag:
        break

200 375 425

In [3]:
for a in range(1, 1000):
    for b in range(a+1, 1000-a):
        c = 1000 - a - b
        if (a**2 + b**2) == c**2:
            print(a, b, c)

200 375 425