# unit 6. 변수(Variable)

In [8]:
lbs_weight = 174.5      # snake 표기법
inchHeight = 70.0       # camel 표기법

In [9]:
# tuple unpacking
x, y, z = 10, 20, 30

In [10]:
x, y = y, x
x, y

(20, 10)

In [17]:
x += y      # x = x + y
x

80

In [12]:
sum = 0
for i in range(1,101):
    sum = sum + i
sum

5050

In [18]:
input('숫자를 입력하세요> ')

'10'

In [22]:
number = int(input('정수를 입력하세요> '))

In [23]:
number

34

In [34]:
10 + 20, '10' + '20'

(30, '1020')

### 정수 두개를 입력으로 받기

In [35]:
s = input('정수 두개 입력>')

In [36]:
s

'10 20'

In [38]:
a, b = s.split()
a, b, a+b

('10', '20', '1020')

In [39]:
list(map(int, s.split()))

[10, 20]

In [40]:
num1, num2 = map(int, s.split())
num1, num2

(10, 20)

In [41]:
num1 = int(s.split()[0])
num2 = int(s.split()[1])
num1, num2

(10, 20)

In [43]:
n1, n2, n3 = map(int, input('정수 세개 입력>').split())
n1, n2, n3, n1+n2+n3

(10, 20, 30, 60)